@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Ubuntu&family=Ysabeau+SC&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Pangolin&family=Red+Hat+Display&family=Rowdies&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* LOADER */
.loader {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  background-color: transparent;
}
.container-loader {
  width: 100%;
  height: 100%;
  position: fixed;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: white;
  z-index: 10000000;
  opacity: 1;
  transition: opacity 3s ease;
}
.container-loader2 {
  opacity: 0;
  pointer-events: none;
}
.dot {
  border-radius: 100%;
  border: 4px solid rgb(12, 119, 17);
  margin: 10px;
  background-color: white;
}

.dot:nth-child(1) {
  animation: preloader 0.6s ease-in-out alternate infinite;
}
.dot:nth-child(2) {
  animation: preloader 0.6s ease-in-out alternate 0.2s infinite;
}
.dot:nth-child(3) {
  animation: preloader 0.6s ease-in-out alternate 0.4s infinite;
}
@keyframes preloader {
  100% {
    transform: scale(2);
  }
}

/* NAVBAR */
.logo-navbar {
  width: 160px;
}
nav {
  min-height: 6rem;
  flex-grow: 1 !important;
}
.navbar-default {
  background: rgba(50, 50, 50, 0);
  border-color: transparent;
  padding: 20px 0px;
  z-index: 999;
  position: fixed;
  width: 100%;
  transition: all ease-in-out 0.7s;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
}
.navbar-light .navbar-toggler {
  color: rgba(255, 255, 255, 0.5);
  border-color: rgba(255, 255, 255, 0.68);
  margin-top: 20px;
  margin-right: 20px;
}

.top-nav {
  background: #000;
  padding: 5px 0px;
  transition: all ease-in-out 0.7s;
}

.top-nav .navbar-nav > li > .dropdown-menu {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  left: 0px;
  padding: 10px 0 0 0;
  background: #184168;
  border-radius: 0 0 0 0;
  box-shadow: 0 0 0 #000000;
  border-width: 0;
  min-width: 200px;
  transition: all ease-in-out 0.7s;
}
.top-nav .navbar-nav > li > a:hover {
  color: #56bfc7;
}
.top-nav .navbar-nav > li > .dropdown-menu .dropdown-item:hover {
  color: #56bfc7;
}

.nav-interno,
.nav-interno .navbar-nav > li > .dropdown-menu {
  background: white;
  transition: all ease-in-out 0.7s;
}

.nav-interno_home,
.nav-interno_home .navbar-nav > li > .dropdown-menu {
  background: transparent;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0.65) 0%,
    rgba(0, 0, 0, 0) 100%
  );
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
  transition: all ease-in-out 0.7s;
}

.nav-interno .navbar-nav > li a {
  border-right: #3b3b3b 1px solid;
  color: #3b3b3b !important;
  transition: all ease-in-out 0.7s;
}

.nav-interno .navbar-nav > li:last-child a {
  padding-right: 0px;
  border-right: 0px solid transparent;
}
/* .scrolled > .navContent{
transform: scale(0.8);
} */
.navbar-brand {
  font-family: "Bebas Neue", sans-serif;
  font-size: 32px !important;
  text-shadow: 1px 1px 2px black;
  padding: 2px;
}

.navbar-brand:hover {
  color: rgb(26, 182, 26) !important;
  text-decoration: underline;
}

.container {
  width: 100%;
  min-height: 5rem !important;
  padding-right: 15px;
  padding-left: 15px;
}

ul {
  margin-left: auto !important;
  margin-right: auto !important;
}

.a-nav {
  display: inline-block;
  padding: 5px 0px;
  margin: 0px 7px;
  border-bottom: transparent 2px solid;
  font-stretch: condensed !important;
}
.emoji-arg {
  width: 45px;
}

.icons-navbar {
  font-size: 28px;
}

.icons-navbar:hover {
  color: rgb(26, 182, 26) !important;
}
footer,
header {
  min-height: 10vh;
  background-color: rgb(222, 231, 231);
}

main {
  min-height: 80vh;
}

.div-nav {
  gap: 2rem;
}

.section_form {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 20px;
}

.div-primer-section {
  background-color: #1d1d1d;
  width: 100%;
  border-radius: 10px;
}

/* header */
.container-div-header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-nav {
  width: 16rem;
}

/* boton de logout */
.cssbuttons-io-button {
  background: #545b78;
  color: white;
  font-family: inherit;
  padding: 0.35em;
  padding-left: 1.2em;
  font-size: 17px;
  font-weight: 500;
  border-radius: 0.9em;
  border: none;
  letter-spacing: 0.05em;
  display: flex;
  align-items: center;
  box-shadow: inset 0 0 1.6em -0.6em #545b78;
  overflow: hidden;
  position: relative;
  height: 2.8em;
  padding-right: 3.3em;
}

.cssbuttons-io-button .icon {
  background: white;
  margin-left: 1em;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 2.2em;
  width: 2.2em;
  border-radius: 0.7em;
  box-shadow: 0.1em 0.1em 0.6em 0.2em #545b78;
  right: 0.3em;
  transition: all 0.3s;
}

.cssbuttons-io-button:hover .icon {
  width: calc(100% - 0.6em);
}

.cssbuttons-io-button .icon svg {
  width: 1.1em;
  transition: transform 0.3s;
  color: #545b78;
}

.cssbuttons-io-button:hover .icon svg {
  transform: translateX(0.1em);
}

.cssbuttons-io-button:active .icon {
  transform: scale(0.95);
}

.button-nav {
  width: 6rem;
  height: 4rem;
  border-radius: 20px;
  background-color: beige;
}
/* inicio del main */
/* formulario para agregar productos */
.feed-form {
  margin-top: 36px;
  display: flex;
  flex-direction: column;
  width: 300px;
}

.feed-form input {
  height: 54px;
  border-radius: 5px;
  background: white;
  margin-bottom: 15px;
  border: none;
  padding: 0 20px;
  font-weight: 300;
  font-size: 20px;
  color: #000000;
}

.button_submit:hover,
.feed-form input:hover {
  transform: scale(1.009);
  box-shadow: 0px 0px 3px 0px #212529;
}

.button_submit {
  width: 100%;
  height: 54px;
  font-size: 14px;
  border-radius: 5px;
  border: none;
  font-weight: 500;
  text-transform: uppercase;
}

.inputBusqueda {
  height: 2.5rem;
  width: 30rem;
  border: 1px solid #957fca;
  background-color: #dbe1f6;
}

/* card-diseño */
.card-title {
  font-size: 20px;
  font-weight: 500;
  text-align: center;
  color: var(--font-color);
  font-family: "Rowdies", cursive;
}

.card-subtitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--font-color-sub);
  margin: 1rem;
  font-family: "Rowdies", cursive;
}

.card-divider {
  width: 100%;
  border: 1px solid black !important;
  border-radius: 50px;
}

.card-footer {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  gap: 3rem;
}

.card-price {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color);
  font-family: "Rowdies", cursive;
}

.card-price span {
  font-size: 20px;
  font-weight: 500;
  color: var(--font-color-sub);
}

.card-btn {
  height: 35px;
  background: var(--bg-color);
  border: 2px solid var(--main-color);
  border-radius: 5px;
  padding: 0 15px;
  transition: all 0.3s;
  font-size: 30px;
}

.card-btn svg {
  width: 100%;
  height: 100%;
  fill: var(--main-color);
  transition: all 0.3s;
}

.card-img:hover {
  transform: translateY(-3px);
}

.card-btn:hover {
  border: 2px solid var(--main-focus);
}

.card-btn:hover svg {
  fill: var(--main-focus);
}

.card-btn:active {
  transform: translateY(3px);
}

.img-card-1 {
  width: 4rem;
}

.card-b {
  box-sizing: border-box;
  width: 350px;
  height: 40rem;
  border-radius: 10px;
  background: rgb(217, 217, 217);
  border: 1px solid white;
  box-shadow: 12px 17px 21px rgba(0, 0, 0, 0.22);
  backdrop-filter: blur(6px);
  text-align: center;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: center;
  user-select: none;
  font-weight: bolder;
  color: black;
  gap: 0.5rem;
}
.img-card-2 {
  object-fit: cover;
  width: 21.5rem;
  height: 21rem;
}

.card-b:hover {
  border: 0.2px solid rgb(206, 191, 191);
}

.desing {
  font-size: 20px;
}

.div-buttons {
  display: flex;
  gap: 1rem;
}

.button-delete {
  border: 2px solid #ae2509;
  background-color: #ae2509;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.button-delete span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.button-delete:hover {
  background-color: #520404;
}

.button-modificar {
  border: 2px solid #24b4fb;
  background-color: #24b4fb;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.button-modificar span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.button-modificar:hover {
  background-color: #0e5172;
}

.button-activar {
  border: 2px solid #24fb36;
  background-color: #2bfb24;
  border-radius: 0.9em;
  padding: 0.8em 1.2em 0.8em 1em;
  transition: all ease-in-out 0.2s;
  font-size: 16px;
}

.button-activar span {
  display: flex;
  justify-content: center;
  align-items: center;
  color: #fff;
  font-weight: 600;
}

.button-activar:hover {
  background-color: #00e21e;
}

.div-contain-imagen {
  width: 17rem;
}
.container-cards {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.modalDialog {
  position: fixed;
  font-family: Arial, Helvetica, sans-serif;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.8);
  z-index: 99999;
  opacity: 0;
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
  pointer-events: none;
}
.modalDialog:target {
  opacity: 1;
  pointer-events: auto;
}
.modalDialog > div {
  width: 700px;
  position: relative;
  margin: 10% auto;
  padding: 5px 20px 13px 20px;
  border-radius: 10px;
  background: #fff;
  background: -moz-linear-gradient(#fff, #999);
  background: -webkit-linear-gradient(#fff, #999);
  background: -o-linear-gradient(#fff, #999);
  -webkit-transition: opacity 400ms ease-in;
  -moz-transition: opacity 400ms ease-in;
  transition: opacity 400ms ease-in;
}
.close {
  background: #606061;
  color: #ffffff;
  line-height: 25px;
  position: absolute;
  right: -12px;
  text-align: center;
  top: -10px;
  width: 24px;
  text-decoration: none;
  font-weight: bold;
  -webkit-border-radius: 12px;
  -moz-border-radius: 12px;
  border-radius: 12px;
  -moz-box-shadow: 1px 1px 3px #000;
  -webkit-box-shadow: 1px 1px 3px #000;
  box-shadow: 1px 1px 3px #000;
}
.close:hover {
  background: #00d9ff;
}

.titulos {
  font-family: "Rowdies", cursive;
}

.table-dark {
  --bs-table-bg: #1d1d1d !important;
  color: white;
}

table {
  border: 1px solid white;
}

/* footer */

footer {
  background-color: rgb(116, 63, 146);
  object-fit: cover;
  min-height: 40rem;
}
footer > h1 {
  font-size: 60px;
}
.iframe-footer {
  border-radius: 10px;
}
.text-footer {
  font-family: "Rowdies", cursive;
}

/* redes sociales footer */

.card {
  width: fit-content;
  height: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px 25px;
  gap: 20px;
  background-color: rgb(116, 63, 146) !important;
  border: 0px !important;
}

/* for all social containers*/
.socialContainer {
  width: 52px;
  height: 52px;
  background-color: rgb(51, 29, 65);
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  transition-duration: 0.3s;
}
/* instagram*/
.containerOne:hover {
  background-color: #aca900;
  transition-duration: 0.3s;
}
/* twitter*/
.containerTwo:hover {
  background-color: #aca900;
  transition-duration: 0.3s;
}
/* Whatsapp*/
.containerFour:hover {
  background-color: #aca900;
  transition-duration: 0.3s;
}

.socialContainer:active {
  transform: scale(0.9);
  transition-duration: 0.3s;
}

.socialSvg {
  width: 17px;
}

.socialSvg path {
  fill: rgb(255, 255, 255);
}

.socialContainer:hover .socialSvg {
  animation: slide-in-top 0.3s both;
}

@keyframes slide-in-top {
  0% {
    transform: translateY(-50px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.productos-desabhilitados {
  background-color: #0a3f14;
}

.text-mamacultiva {
  font-family: "Rowdies", cursive;
  text-shadow: 1px 1px 1px black;
}